<div class="container">

    <%# フラッシュ　投稿追加 %>
    <% if flash[:notice] %>
        <div class="alert alert-success m-0" role="alert">
        <h3><%= flash[:notice] %></h3>
        </div>
    <% end %>

    <%# 戻るボタン %>
    <%= link_to 'ユーザー一覧へ', "/users/table", class: "btn btn-outline-primary my-3" %>

    <%# ユーザー情報 %>
    <div class="user mt-5">
        <h2><%= @user.name %></h2>
        <h6 class="my-3"><%= safe_join(@user.profile.split("\n"), tag(:br)) %></h6>
        <h6 class="user-link"><i class="fas fa-link" style="word-wrap: break-word;"></i>&nbsp;<%= link_to("#{@user.url}", "#{@user.url}", target: :_blank) %></h6>
        <h6><i class="fas fa-map-marker-alt"></i>&nbsp;お気に入りの場所</h6>
        <h6><i class="fas fa-hammer"></i>&nbsp;ムーブメイク</h6>
    </div>


    <% if @current_user && @user.id == @current_user.id %>
      <div class="account-set-btn mt-4">
        <%# 編集 %>
        <%= link_to('編集', "/users/#{@user.id}/edit", class: "font-italic", style: "font-size:14pt; color: grey;") %>
        <%# ログアウト %>
        <%= link_to('ログアウト', "/users/logout", class: "font-italic ml-sm-3 ml-1",
        style: "font-size:14pt; color:grey;", method: "post") %>
      </div>
    <% end %>

    <%# 投稿タブ %>
    <div class="user-post mt-5 pt-5" style="border-top: 2px solid grey;">
      <%# navリンク %>
      <nav>
        <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active px-2 px-sm-3" style="width:26%; border: 1px solid #DFDFDF;" id="nav-lesson-tab" data-toggle="tab" href="#nav-lesson" role="tab" aria-controls="nav-lesson" aria-selected="true">レッスン</a>
          <a class="nav-item nav-link px-2 px-sm-3" style="width:26%;" id="nav-place-tab" data-toggle="tab" href="#nav-place" role="tab" aria-controls="nav-place" aria-selected="false">練習場所</a>
          <a class="nav-item nav-link px-2 px-sm-3" style="width:24%; border: 1px solid #DFDFDF;" id="nav-move-tab" data-toggle="tab" href="#nav-move" role="tab" aria-controls="nav-move" aria-selected="false">ムーブ</a>
          <a class="nav-item nav-link px-2 px-sm-3" style="width:24%; border: 1px solid #DFDFDF;" id="nav-like-tab" data-toggle="tab" href="#nav-like" role="tab" aria-controls="nav-like" aria-selected="false">いいね</a>
        </div>
      </nav>
      <%# navコンテンツ %>
      <div class="tab-content" id="nav-tabContent">
        <%# navコンテンツ　レッスン %>
        <div class="tab-pane fade show active" id="nav-lesson" role="tabpanel" aria-labelledby="nav-lesson-tab">
        <%# レッスンがない場合 %>
          <div class="card">
            <div class="row card-body">
              <div class="table-card-up col-12 px-md-3">
                <h4>まだ投稿がありません</h4>
              </div>
            </div>
          </div>
        </div>

        <%# 練習場所 %>
        <div class="tab-pane fade" id="nav-place" role="tabpanel" aria-labelledby="nav-place-tab">
        <%# @postがあれば表示 %>
          <% if @post.size > 0 %>
            <% @post.each do |post| %>
              <div class="card">
                <div class="row card-body">
                  <div class="table-card-up col-md-5 col-12 px-md-3">
                    <time datetime="<%= post.updated_at %>">
                      <h6 class="ml-md-3"><%= time_ago_in_words(post.updated_at) %>前</h6>
                    </time>
                    <h2 class="card-title ml-md-3"><%= post.place %></h2>
                    <h4 class="ml-md-3 my-md-3"><span class="text-secondary">最寄り：</span><%= post.station %></h4>
                    <%= link_to("詳しく見る", "/posts/#{post.pref}/#{post.place}", class: "btn btn-outline-primary ml-md-3 d-md-inline-block d-none") %>
                    <%# いいね %>
                    <%# ログインしてるとき %>
                    <% if @current_user %>
                      <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to("/likes/#{post.id}/destroy", method: "post", class: "btn d-md-inline-block d-none") do %>
                          <i class="fas fa-heart" style="color: red;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% else %>
                        <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-inline-block d-none") do %>
                          <i class="far fa-heart" style="color: black;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% end %>
                    <%# ログインしてないとき %>
                    <% else %>
                      <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-inline-block d-none") do %>
                        <i class="far fa-heart" style="color: black;"></i>
                        <%= Like.where(post_id: post.id).count %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="table-card-down col-md-7 col-12 px-md-3 pt-md-4" style="word-wrap: break-word;">
                    <h4>施設：<%= post.facility %></h4>
                    <h4 class="card-text">時間：<%= post.time %></h4>
                    <h4 class="card-text">料金：<%= post.price %>円</h4>
                    <h4 class="card-text">タグ：<span class="text-primary"><%= post.tag %></span></h4>
                    <%= link_to("詳しく見る", "/posts/#{post.pref}/#{post.place}", class: "btn btn-outline-primary mt-1 d-md-none d-inline-block") %>
                    <%# いいね %>
                    <%# ログインしてるとき %>
                    <% if @current_user %>
                      <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to("/likes/#{post.id}/destroy", method: "post", class: "btn d-md-none d-inline-block") do %>
                          <i class="fas fa-heart" style="color: red;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% else %>
                        <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-none d-inline-block") do %>
                          <i class="far fa-heart" style="color: black;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% end %>
                    <%# ログインしてないとき %>
                    <% else %>
                      <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-none d-inline-block") do %>
                        <i class="far fa-heart" style="color: black;"></i>
                        <%= Like.where(post_id: post.id).count %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <%# @postがない場合 %>
          <% else %>
            <div class="card">
              <div class="row card-body">
                <div class="table-card-up col-12 px-md-3">
                  <h4>まだ投稿がありません</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <%# navコンテンツ　ムーブ %>
        <div class="tab-pane fade" id="nav-move" role="tabpanel" aria-labelledby="nav-move-tab">
        <% if @move.size > 0 %>
          <% user_id = [] %>
          <% title = [] %>
          <% @move.each do |move| %>
              <%# user_idとtitleを１セットで表示 %>
              <% unless user_id.include?(move.user_id) && title.include?(move.title) %>
                  <%# テーブル %>
                  <div class="card">
                      <div class="row card-body">
                      <div class="table-card-up col-md-5 col-12 px-md-3">
                          <time datetime="<%= move.updated_at %>">
                            <h6 class="ml-md-3"><%= time_ago_in_words(move.updated_at) %>前</h6>
                          </time>
                          <h2 class="card-title ml-md-3"><%= move.title %></h2>
                          <h4 class="ml-md-3 my-md-3"><span class="text-secondary"><%= move.user.name %></span></h4>
                          <%= link_to("挑戦する", "/moves/#{move.user_id}/#{move.title}/show", class: "btn btn-outline-primary ml-md-3 d-md-inline-block d-none") %>
                      </div>
                      <div class="table-card-down col-md-7 col-12 px-md-3 pt-md-4" style="word-wrap: break-word;">
                          <%= link_to("挑戦する", "/moves/#{move.user_id}/#{move.title}/show", class: "btn btn-outline-primary mt-1 d-md-none d-inline-block") %>
                      </div>
                      </div>
                  </div>
                  <% user_id.push(move.user_id) %>
                  <% title.push(move.title) %>
              <% end %>
          <% end %>
        <%# ムーブがない場合 %>
        <% else %>
          <div class="card">
            <div class="row card-body">
              <div class="table-card-up col-12 px-md-3">
                <h4>まだ投稿がありません</h4>
              </div>
            </div>
          </div>
        <% end %>  
        </div>
        
        <%# navコンテンツ　いいね %>
        <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab">
          <%# @likeがあるとき %>
          <% if @like.size > 0 %>
            <%# Postのid と Likeのpost_id が同じものを表示 %>
            <% @like.each do |like| %>
              <% post = Post.find_by(id: like.post_id) %>
              <div class="card">
                <div class="row card-body">
                  <div class="table-card-up col-md-5 col-12 px-md-3">
                    <time datetime="<%= post.updated_at %>">
                      <h6 class="ml-md-3"><%= time_ago_in_words(post.updated_at) %>前</h6>
                    </time>
                    <h2 class="card-title ml-md-3"><%= post.place %></h2>
                    <h4 class="ml-md-3 my-md-3"><span class="text-secondary">最寄り：</span><%= post.station %></h4>
                    <%= link_to("詳しく見る", "/posts/#{post.pref}/#{post.place}", class: "btn btn-outline-primary ml-md-3 d-md-inline-block d-none") %>
                    <%# いいね %>
                    <%# ログインしてるとき %>
                    <% if @current_user %>
                      <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to("/likes/#{post.id}/destroy", method: "post", class: "btn d-md-inline-block d-none") do %>
                          <i class="fas fa-heart" style="color: red;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% else %>
                        <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-inline-block d-none") do %>
                          <i class="far fa-heart" style="color: black;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% end %>
                    <%# ログインしてないとき %>
                    <% else %>
                      <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-inline-block d-none") do %>
                        <i class="far fa-heart" style="color: black;"></i>
                        <%= Like.where(post_id: post.id).count %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="table-card-down col-md-7 col-12 px-md-3 pt-md-4" style="word-wrap: break-word;">
                    <h4>施設：<%= post.facility %></h4>
                    <h4 class="card-text">時間：<%= post.time %></h4>
                    <h4 class="card-text">料金：<%= post.price %>円</h4>
                    <h4 class="card-text">タグ：<span class="text-primary"><%= post.tag %></span></h4>
                    <%= link_to("詳しく見る", "/posts/#{post.pref}/#{post.place}", class: "btn btn-outline-primary mt-1 d-md-none d-inline-block") %>
                    <%# いいね %>
                    <%# ログインしてるとき %>
                    <% if @current_user %>
                      <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to("/likes/#{post.id}/destroy", method: "post", class: "btn d-md-none d-inline-block") do %>
                          <i class="fas fa-heart" style="color: red;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% else %>
                        <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-none d-inline-block") do %>
                          <i class="far fa-heart" style="color: black;"></i>
                          <%= Like.where(post_id: post.id).count %>
                        <% end %>
                      <% end %>
                    <%# ログインしてないとき %>
                    <% else %>
                      <%= link_to("/likes/#{post.id}/create", method: "post", class: "btn d-md-none d-inline-block") do %>
                        <i class="far fa-heart" style="color: black;"></i>
                        <%= Like.where(post_id: post.id).count %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card">
              <div class="row card-body">
                <div class="table-card-up col-12 px-md-3">
                  <h4>まだ投稿がありません</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>