<div class="user-edit">

<%# エラーメッセージ %>
<% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
        <h2 class="text-danger"><%= message %></h2>
    </div>
<% end %>

<div class="container">
    <h3 class="mt-5 mb-4">編集画面</h3>
    <%= form_with url: "/users/update", local: true, method: 'POST' do |f| %>

        <div class="my-2">
            <h5><%= f.label :name, '名前' %></h5>
            <% if @user.guest %>
                <%= f.text_field :name, value: @user.name, class: "py-1", readonly: true, style: "background-color: #e9ecef; border: 1px solid black;" %>
            <% else %>
                <%= f.text_field :name, value: @user.name, class: "py-1" %>
            <% end %>
        </div>

        <div class="my-2">
            <h5><%= f.label :profile, 'プロフィール' %></h5>
            <%= f.text_area :profile, value: @user.profile, class: "profile-form py-1"%>
        </div>

        <div class="my-2">
            <h5><%= f.label :url, 'URL' %></h5>
            <%= f.text_field :url, value: @user.url, class: "url-form py-1" %>
        </div>
        
            
        <div class="my-2">        
            <%= f.submit "編集", class: "submit-btn" %>
        </div>
    <% end %>
</div>
</div>