<div class="container">

    <%# フラッシュ　投稿追加 %>
    <% if flash[:notice] %>
        <div class="alert alert-success m-0" role="alert">
        <h3><%= flash[:notice] %></h3>
        </div>
    <% end %>

    <%# 戻るボタン %>
    <%= link_to 'ユーザー検索', "/users/table", class: "btn btn-outline-primary my-3" %>

    <%# ユーザー情報 %>
    <div class="user mt-5">
        <h2><%= @user.name %></h2>
        <div class="w-50 my-3">
            <h5><%= safe_join(@user.profile.split("\n"), tag(:br)) %></h5>
        </div>
        <h5><%= link_to("#{@user.url}", "#{@user.url}", target: :_blank) %></h5>
        <br>
        <h5>お気に入りの場所<i class="fas fa-map-marker-alt"></i></h5>
        <h5>ムーブメイク<i class="fas fa-hammer"></i></h5>
    </div>

    <% if @user.id == @current_user.id %>
        <%# 編集 %>
        <%= link_to('編集', "/users/#{@user.id}/edit", class: "font-italic", style: "font-size:14pt;") %>
        <%# ログアウト %>
        <%= link_to('ログアウト', "/users/logout", class: "font-italic ml-sm-3 ml-1",
        style: "font-size:14pt;", method: "post") %>
    <% end %>
</div>